table {
    width: 100%;
  }

  .page-full {
    font-weight: 400;
    width: 100%;
    padding: 20px 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.page-content{    
    position: relative;
    min-height: 500px;
}
